In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv("breast_cancer.csv")
df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X = df.drop(columns=["Sample code number", "Class"]).values
y = df["Class"].values.reshape(-1,1)

print(X.shape)
print(y.shape)

(683, 9)
(683, 1)

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

model = LogisticRegression()
model.fit(X_train,y_train)

y_pred = model.predict(X_test).reshape(-1,1)

d:\anaconda\envs\MachineLearning_Class\lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [27]:
from sklearn.metrics import confusion_matrix, precision_score,accuracy_score, recall_score, f1_score

C_matrix = confusion_matrix(y_pred=y_pred, y_true=y_test)
print(f"Confusion matrix : \n{C_matrix}")

prec = precision_score(y_pred=y_pred, y_true=y_test, average="macro")
print(f"Precision  : \n{prec}")

accuracy = accuracy_score(y_pred=y_pred, y_true=y_test)
print(f"Accuracy   : \n{accuracy}")

recall = recall_score(y_pred=y_pred, y_true=y_test, average="macro")
print(f"Recall     : \n{recall}")

f1 = f1_score(y_pred=y_pred, y_true=y_test, average="macro")
print(f"F1         : \n{f1}")

Confusion matrix :
[[84  3]
 [ 3 47]]
Precision  :
0.9527586206896552
Accuracy   :
0.9562043795620438
Recall     :
0.9527586206896552
F1         :
0.9527586206896552